################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation/radipublog.metadata.v5.1
/.vs/ProjectEvaluation/radipublog.projects.v2
/.vs/ProjectEvaluation/radipublog.projects.v5
/.vs/ProjectEvaluation/radipublog.projects.v5.1
