@model My_Blog_Website.Models.Contacts

@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">Contact Us</div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-phone"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Call Me</span>
                        <span class="d-block c_g fh5co_contact_us_no_text">+880 167 6617846</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br />
                <br />
                <div class="row fh5co_contact_us_no_icon_difh5co_hover">
                    <div class="col-3 fh5co_contact_us_no_icon_difh5co_hover_1">
                        <div class="fh5co_contact_us_no_icon_div"> <span><i class="fa fa-envelope"></i></span> </div>
                    </div>
                    <div class="col-9 align-self-center fh5co_contact_us_no_icon_difh5co_hover_2">
                        <span class="c_g d-block">Email Me</span>
                        <span class="d-block c_g fh5co_contact_us_no_text">radipu.dev@gmail.com</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br />
                <br />
            </div>
            <div class="col-12 col-md-6">
                <form asp-action="Index" class="row" id="fh5co_contact_form" method="post">
                    <div class="col-12 py-3">
                        <input asp-for="Name" type="text" class="form-control fh5co_contact_text_box" placeholder="Enter Your Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-3">
                        <input asp-for="Email" type="email" class="form-control fh5co_contact_text_box" placeholder="E-mail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-3">
                        <input asp-for="Subject" type="text" class="form-control fh5co_contact_text_box" placeholder="Subject" />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>
                    <div class="col-12 py-3">
                        <textarea asp-for="Message" id="message" class="form-control fh5co_contacts_message" placeholder="Please write a brief message..." minlength="250" maxlength="1000"></textarea>
                        <div class="counter-container">
                            <p>
                              Total Charaters:
                              <span class="total-counter" id="total-counter"></span>
                            </p>
                            <p>
                              Remaining:
                              <span class="remaining-counter" id="remaining-counter"></span>
                            </p>
                          </div>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                     <div class="col-12 py-3 text-center">
                         <input type="submit" value="Send Message" class="btn contact_btn" /><br />
                         <span class="text-success" id="msg">@ViewBag.Message</span>
                     </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}