@model My_Blog_Website.Areas.Admin.Models.Authors

@{
    ViewData["Title"] = "Edit Author";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="row">
    <div class="col-md-6 authcre">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Update the Author</h1>
            </div>
            <div class="card-body p-0">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AuthorId" />

                    <div class="form-group col-md-8 authform">
                        <label asp-for="FirstName" class="control-label">Author First Name</label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8 authform">
                        <label asp-for="LastName" class="control-label">Author Last Name</label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8 authform">
                        <label asp-for="Username" class="control-label">Username</label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8 authform">
                        <label asp-for="Password" class="control-label">Password</label>
                        <div class="d-flex">
                            <div class="input-container">
                                <input asp-for="Password" class="form-control passwordclass" id="passwordid" />
                            </div>
                            <button type="button" class="generatebtn">Generate</button>
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8 authform">
                        <label asp-for="Email" class="control-label">Author Email</label>
                        <input asp-for="Email" type="email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8 authform">
                        <label asp-for="AboutAuth" class="control-label">About Author</label>
                        <input asp-for="AboutAuth" class="form-control" />
                        <span asp-validation-for="AboutAuth" class="text-danger"></span>
                    </div>
                    
                    <!-- Image Upload Field -->
                    <div class="form-group col-md-8 authform">
                        <label class="control-label">Author Image</label>
                        <input type="file" name="authorImage" class="form-control" />
                        <span asp-validation-for="AuthorImage" class="text-danger"></span>
                    </div>
                    
                    <!-- Image Preview if available -->
                    @if (Model.AuthorImage != null && Model.AuthorImage.Length > 0)
                    {
                        var base64 = Convert.ToBase64String(Model.AuthorImage);
                        <div class="form-group col-md-8 authform">
                            <label class="control-label">Current Image</label>
                            <img src="data:@Model.ImageContentType;base64,@base64" alt="Current Image" style="max-width:200px; display:block; margin-bottom:10px;" />
                        </div>
                    }
                    
                    <div class="form-group text-center">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <a asp-action="Index">Back to List</a>
                        </button>
                        <button class="btn btn-primary" type="submit" value="Update">
                            <i class="fa fa-save" aria-hidden="true"></i>
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>