<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Think Something Different</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/My_Blog_Website.styles.css" asp-append-version="true" />*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/css/media_query.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet" type="text/css"/>
    <link href="~/css/owl.theme.default.css" rel="stylesheet" type="text/css"/>
    <!-- Bootstrap CSS -->
    <link href="~/css/style_1.css" rel="stylesheet" type="text/css"/>
    <!-- Modernizr JS -->
    <script src="~/js/modernizr-3.5.0.min.js"></script>
</head>
<body>
    <header>
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3 fh5co_padding_menu">
                        <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/radipuLogo.png" alt="img" class="fh5co_logo_width"/></a>
                    </div>
                    <div class="col-12 col-md-9 align-self-center fh5co_mediya_right">
                        <div class="search-box text-center d-inline-block">
                            <input class="search-txt" type="text" name="" placeholder="Type to search" />
                            <a class="search-btn fh5co_display_table"><div class="fh5co_verticle_middle"><i class="fa fa-search"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table" href="https://www.linkedin.com/in/radipu/" target="_blank"><div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table" href="https://github.com/radipu" target="_blank"><div class="fh5co_verticle_middle"><i class="fa fa-github"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table" href="https://twitter.com/radipu" target="_blank"><div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div></a>
                        </div>
                        <div class="text-center d-inline-block">
                            <a class="fh5co_display_table" href="https://fb.com/radipu13" target="_blank"><div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div></a>
                        </div>
                        <!--<div class="d-inline-block text-center"><img src="images/country.png" alt="img" class="fh5co_country_width"/></div>-->
                        @*<div class="d-inline-block text-center dd_position_relative ">
                            <select class="form-control fh5co_text_select_option">
                                <option>English </option>
                                <option>French </option>
                                <option>German </option>
                                <option>Spanish </option>
                            </select>
                        </div>*@
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-faded padding_786">
            <div class="container padding_786">
                <nav class="navbar navbar-toggleable-md navbar-light ">
                    <div class="container-fluid">
                        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">My_Blog_Website</a>*@
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="Thoughts" asp-action="Index">Thoughts <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="Technology" asp-action="Index">Technology <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="Ideas" asp-action="Index">Ideas <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="HowTo" asp-action="Index">HowTo <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="Tour" asp-action="Index">Tour <span class="sr-only">(current)</span></a>
                                </li>
                                <div class="dropdownmenu">
                                     <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                                     aria-haspopup="true" aria-expanded="false">Portfolio <span class="sr-only">(current)</span></a>
                                    <div class="dropdownmenu-content">
                                        <a href="">Live Demonstration</a>
                                        <a href="https://graphics.radipu.com/" target="_blank">Graphics</a>
                                        <a href="https://cv.radipu.com/" target="_blank">Resume</a>
                                        <a href="https://radipu.com/" target="_blank">My Intro</a>
                                    </div>
                                </div>
                                @*<li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton2" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">World <span class="sr-only">(current)</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                                        <a class="dropdown-item" href="#">Action in</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuButton3" data-toggle="dropdown"
                                       aria-haspopup="true" aria-expanded="false">Community<span class="sr-only">(current)</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink_1">
                                        <a class="dropdown-item" href="#">Action in</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>*@
                                @* <li class="nav-item ">
                                    <a class="nav-link" href="https://radipu.com/" target="_blank">Portfolio <span class="sr-only">(current)</span></a>
                                </li> *@
                                <li class="nav-item ">
                                    <a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Index">Contact <span class="sr-only">(current)</span></a>
                                </li>
                            </ul>
                            @* <partial name="_LoginPartial" /> *@
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="container-fluid fh5co_footer_bg pb-3">
    <div class="container animate-box">
        <div class="row">
            @* <div class="col-12 spdp_right py-5"><img src="~/images/radipu LOGO_white.png" alt="img" class="footer_logo"/></div> *@
            <div class="clearfix"></div>
            <div class="col-12 spdp_right py-3">
                <div class="footer_main_title py-3"> Download Now</div>
                <div class="footer_sub_about pb-3">
                    <a href="https://facebook.com/rad.pb13" target="_blank"><img src="~/images/google-play-badge.png" alt="img" class="google-play" /></a>
                    <a href="https://facebook.com/radipu13" target="_blank"><img src="~/images/App Store.svg" alt="img" class="app-store"/></a>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="footer_main_title py-3"> About</div>
                <div class="footer_sub_about about-text pb-3"> Welcome! A hub for exploring thoughts, technology, ideas, how-to guides, and travel adventures.
                    Here, you'll find reflections on life, the latest tech trends, innovative ideas, practical tech tips, and stories from around the world. 
                    Join me on this journey of discovery, learning, and inspiration!
                </div>
                <div class="footer_mediya_icon">
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer" href="https://linkedin.com/in/radipu" target="_blank">
                        <div class="fh5co_verticle_middle"><i class="fa fa-linkedin"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer" href="https://github.com/radipu" target="_blank">
                        <div class="fh5co_verticle_middle"><i class="fa fa-github"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer" href="https://twitter.com/radipu" target="_blank">
                        <div class="fh5co_verticle_middle"><i class="fa fa-twitter"></i></div>
                    </a></div>
                    <div class="text-center d-inline-block"><a class="fh5co_display_table_footer" href="https://facebook.com/radipu13" target="_blank">
                        <div class="fh5co_verticle_middle"><i class="fa fa-facebook"></i></div>
                    </a></div>
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="footer_main_title py-3"> Category</div>
                <ul class="footer_menu">
                    <li><a asp-controller="CSharpASPNET" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; C# & ASP.NET</a></li>
                    <li><a asp-controller="BookReview" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; Book Review</a></li>
                    <li><a asp-controller="FAQ" asp-action="Index"><i class="fa fa-angle-right"></i>&nbsp;&nbsp; FAQ</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-5 col-lg-3 position_footer_relative">
                <div class="footer_main_title py-3"> Most Viewed Posts</div>
                <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                <div class="footer_makes_sub_font"> Dec 31, 2016</div>
                <a href="#" class="footer_post pb-4"> Success is not a good teacher failure makes you humble </a>
                <div class="footer_position_absolute"><img src="~/images/footer_sub_tipik.png" alt="img" class="width_footer_sub_img"/></div>
            </div>
            <div class="col-12 col-md-12 col-lg-4 ">
                <div class="footer_main_title py-3"> Last Modified Posts</div>
                <a href="#" class="footer_img_post_6"><img src="~/images/allef-vinicius-108153.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/32-450x260.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/download (1).jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/science-578x362.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/vil-son-35490.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/zack-minor-15104.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/download.jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/download (2).jpg" alt="img"/></a>
                <a href="#" class="footer_img_post_6"><img src="~/images/ryan-moreno-98837.jpg" alt="img"/></a>
            </div>
        </div>
        <div class="row justify-content-center pt-2 pb-4">
            <div class="col-12 col-md-8 col-lg-7 ">
                <div class="input-group">
                    <span class="input-group-addon fh5co_footer_text_box" id="basic-addon1"><i class="fa fa-envelope"></i></span>
                     <input type="email" class="form-control fh5co_footer_text_box" placeholder="Enter your email..." aria-describedby="basic-addon1">
                    <a href="#" class="input-group-addon fh5co_footer_subcribe" id="basic-addon12"> <i class="fa fa-paper-plane-o"></i>&nbsp;&nbsp;Subscribe</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid fh5co_footer_right_reserved">
    <div class="container">
        <div class="row  ">
            <div class="py-4 Reserved" style="text-align:center"> &copy; <script>document.write(new Date().getFullYear())</script>. All rights reserved. Developed by <a href="https://cv.radipu.com" target="_blank">radipu</a>. </div>
        </div>
    </div>
</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up"></i></a>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
    <!-- Waypoints -->
    <script src="~/js/jquery.waypoints.min.js"></script>
    <!-- Main -->
    <script src="~/js/main.js"></script>
</body>
</html>
